__pycache__
.*.swp
*.bak
output
.coverage
.coverage.*
.coveragerc
htmlcov
.tests_estimate.json
.tests_failed.json
.dbgconsole_history
.examinecert_stats.json
test_corpus_failures
test_corpus_results.sqlite3
x509sak.egg-info
dist
build
